/*-- Details --*/
#details {
    font-size: 1.5em;
    padding: 1em 0em;
}

#details .width-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 4em;
}

/*event-info*/
.event-info {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

/*event-gallery*/
.event-info .event-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.event-gallery .event-gallery-card img {
    object-fit: cover;
    transition: 0.3s ease-in-out;
    filter: blur(1.1px);
}

.event-gallery .event-gallery-card img:hover {
    filter: none;
}

/*event-description*/
.event-description p {
    padding-bottom: 1.5em;
}

.event-description img {
    padding-bottom: 1em;
}

/*Admin-details*/
#details-admin {
    padding: 2em 0em;
    background-color: white;
}

#details-admin .width-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*admin-buttons*/
#details-admin .admin-buttons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

#details-admin .admin-buttons button {
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
}

#details-admin .admin-buttons a, 
#panel .admin-buttons a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

.edit-btn {
    background-color: orange;
}

.delete-btn {
    background-color: red;
}

.visible-btn {
    background-color: blue;
}

.save-btn {
    background-color: green;
}

.add-img-btn {
    background-color: rgb(158, 158, 28);
} 

/*gallery-modal*/ 
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
} 

.modal img {
    width: 70%;
    object-fit: cover;
} 

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
} 

.nextBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute; 
    margin: 20px; 
    right: 0;
} 

.prevBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute; 
    margin: 20px; 
    left: 0;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}