@import url(navigation.css);
@import url(footer.css);

@media screen and (max-width: 603px){
    
    /* ---- User Icon ----*/
    .user-icon{
        display: none;
    }

    /*#Intro */
    #intro h1.site-theme {
        font-size: 1.6em;
    }

    /*About*/
    #about .width-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4em;
    }

    #about .width-wrapper img {
        display: block;
        width: 100%;
        height: auto;
        order: 2;
    }

    #about .width-wrapper h2 {
        font-size: 1.6em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    #about .width-wrapper p {
        font-size: 16px;
    }

    .join-btn {
        font-size: 16px;

    }

    /*-- #Goals --*/ 
    #team h2,
    #goals h2,
    #events h2,
    #contacts h2,
    #faq h2 {
        text-align: center;
        padding-bottom: 1em;
        font-size: 1.6em;
    }

    #team .width-wrapper,
    #goals .width-wrapper,
    #details .width-wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
    }

    .goal-card {
        display: flex;
        gap: 1.5em;
        font-size: 1.2em;
    }

    .goal-card p {
        text-align: justify;
    }

    .goal-card i {
        text-align: center;
        background-color: #e47b00;
        padding: 1em;
        border-radius: 50%;
    }

    /*Back-to-top*/
    #back-to-top {
        padding: 0.5em;
        font-size: 2em;
        border-radius: 50%;
        margin: 4.1em 1.1em;
    }

    /*-- #Partners --*/
    #partners h2{
        font-size: 1.6em;
    }

    #partners .width-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    /*-- #Events --*/
    #events .width-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .event-card p {
        font-size: 1em;
    }

    .event-date {
        font-size: 0.8em;
    }

    .event-title {
        font-size: 1.2em;
    }

    /*-- #Contacts --*/
    #contacts .width-wrapper {
        grid-template-columns: auto;
    }

    .contact-from form {
        font-size: 1.4em;
    }

    /*address*/
    .contact-info {
        position: relative;
        font-size: 1.3em;
    }

    .contact-info li span {
        font-size: 1em;
    }

    #map iframe{
        height: 400px;
    } 

    /*not-found*/
    #not-found p {
        font-size: 5em;
    } 

    #not-found p span{
        font-size: 2em;
    }
}