/*-- #Team --*/
#team .width-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
}

.team-card {
    text-align: center;
}

.team-card img {
    border-radius: 50%;
}

.team-card h3 {
    font-size: 1.5em;
}