/*-- Layout --*/
/*main color: #4c1b78*/

body {
    background-color: #4c1b78;
}

p,
ul,
ol {
    padding-bottom: 1.5em;
}

.width-wrapper {
    max-width: 80vw;
    margin: 0 auto;
    /* background-color: #4c1b78; */
}

/*-- Main --*/

.site-main {
    /* max-width: 100vw; */
    /* margin: 0 auto; */
}

    /*#Intro */
#intro {
    position: relative;
}

#intro h1.site-theme {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5.5em;
    max-width: 20ch;
}

#intro img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

    /*About*/
#about{
    background-color: white;
    padding: 4em 0em;
} 

#about .width-wrapper {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
} 

#about .about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;
}

#about .width-wrapper img {
    /* width: 100%; */
    display: block;
    height: auto;
    flex-basis: 15%;
    flex-shrink: 1;
}

#about .width-wrapper h2 {
    font-size: 2.5em;
}

#about .width-wrapper p {
    font-size: 1.8em;
    color: #434443;
    max-width: 40ch;
} 

.join-btn {
    background-color: #4c1b78;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    padding: 0.5em;
    display: block;
    font-weight: bold;
    border-radius: 0.5em;
}


/*-- Footer --*/

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 0;
    font-size: 1.5em;
}

.site-footer p {
    color: #777;
}

.site-footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none inside;
    gap: 1.5em;
}

.site-footer ul a {
    text-decoration: none;
    color: #000;
}