@media screen and (min-width: 604px) and (max-width: 1024px)  {
    .width-wrapper {
        max-width: 81vw;
    }

    /*Navigation*/
    header.site-header {
        padding-top: 1em;
    }
    nav.main-nav ul {
        gap: 2.5em;
    }
    
    nav.main-nav ul a {
        font-size: 1.2em;
    }
    
    nav.main-nav ul a:active {
        color: white;
    }
    
    nav.main-nav ul a:active {
        color: #dea556;
    } 
    
    /*Site-logo*/ 
    p.site-logo a{
        width: 120px;
        height: 90px;
    } 

    /*User icon*/
    .user-icon a.icn {
        font-size: 2.5em;
    }

    /*#Intro */
    #intro h1.site-theme {
        font-size: 3.6em;
    }

    /*About*/
    #about .width-wrapper h2 {
        font-size: 2.3em;
    }

    #about .width-wrapper p {
        font-size: 1.3em;
    }

    .join-btn {
        font-size: 1.3em;
        width: 100%;
    }

    /*-- #Goals --*/
    .section-heading {
        font-size: 2.2em;
    }

    #goals .width-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

    .goal-card {
        font-size: 1.3em;
    } 

    /*-- Events --*/ 
    #events .width-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    /*-- #Team --*/
    #team .width-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5em;
    }

    .team-card {
        /* padding: 2em; */
        text-align: center;
    }

    .team-card img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .team-card h3 {
        font-size: 1.5em;
    }

    /*-- #Contacts --*/
    #contacts .width-wrapper {
        grid-template-columns: auto;
    }

    .contact-form form {
        font-size: 1.4em;
        font-weight: bold;
    } 

    #contacts .contact-form form .input-container {
        grid-template-columns: auto;
    }

    /*address*/
    #contacts .contact-info {
        position: relative;
        font-size: 1.3em;
    }

    .contact-info li span {
        font-size: 1em;
        font-weight: bold;
    }

    #map iframe {
        width: 100%;
        height: 500px;
    }

    /*Footer*/
    #site-footer .site-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2em;
        font-size: 1.5em;
    }

    /* -- #Profile -- */
    /* Grid Container */
    #profile .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2em;
        width: 100%;
        height: 50%;
        font-size: 1.5em;
        min-height: 75vh;
    }
    
    .grid-container .item {
        padding: 1em;
        border-radius: 0.5em;
        background-color: white;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    }
    
    /* Side item */
    .grid-container .side-item {
        grid-column: 1;
        grid-row: 1 / span 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    
    /* Main item */
    .grid-container .main-item {
        grid-column: 3 / span 3;
        grid-row: 1 / span 2;
    }
    
    /* Bottom Item */
    .grid-container .bottom-item {
        grid-column: 2 / span 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Option Buttons */
    .option-btns {
        flex-direction: column;
        gap: 0.5em;
    }
    
    .option-btns button {
        font-size: 0.7em;
    }

    #profile .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1em;
        font-size: 1.2em;
        min-height: auto;
    }

    .grid-container .main-item {
        grid-column: span 3;
    }

    /*admin-buttons*/
    #details-admin .admin-buttons {
        gap: 1.5em;
    }
}