@media screen and (min-width: 604px) and (max-width: 1024px)  {
    .width-wrapper {
        max-width: 81vw;
    }

    /*Navigation*/
    header.site-header {
        padding-top: 1em;
    }
    nav.main-nav ul {
        gap: 2.5em;
    }
    
    nav.main-nav ul a {
        font-size: 1.2em;
    }
    
    nav.main-nav ul a:active {
        color: white;
    }
    
    nav.main-nav ul a:active {
        color: #dea556;
    } 
    
    /*Site-logo*/ 
    p.site-logo a{
        width: 110px;
        height: 80px;
    }

    /*#Intro */
    #intro h1.site-theme {
        font-size: 3.6em;
    }

    /*About*/
    #about .width-wrapper h2 {
        font-size: 2.3em;
    }

    #about .width-wrapper p {
        font-size: 1.3em;
    }

    .join-btn {
        font-size: 1.3em;
        width: 100%;
    }

    /*-- #Goals --*/
    #about h2,
    #team h2,
    #goals h2,
    #details-admin h2,
    #events h2,
    #contacts h2,
    #faq h2,
    #partners h2 {
        font-size: 2.2em;
    }

    #goals .width-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

    .goal-card {
        font-size: 1.3em;
    } 

    /*-- #Team --*/
    #team .width-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5em;
    }

    .team-card {
        /* padding: 2em; */
        text-align: center;
    }

    .team-card img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .team-card h3 {
        font-size: 1.5em;
    }

    /*-- #Contacts --*/
    /*-- #Contacts --*/
    #contacts .width-wrapper {
        grid-template-columns: auto;
    }

    .contact-form form {
        font-size: 1.4em;
        font-weight: bold;
    } 

    #contacts .contact-form form .input-container {
        grid-template-columns: auto;
    }

    /*address*/
    #contacts .contact-info {
        position: relative;
        font-size: 1.3em;
    }

    .contact-info li span {
        font-size: 1em;
        font-weight: bold;
    }

    #map iframe {
        width: 100%;
        height: 500px;
    }

    /*Footer*/
    #site-footer .site-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2em;
        font-size: 1.5em;
    }
}