/*-- #Goals --*/
#contacts,
#details,
#events,
#goals,
#team,
.pagination {
    background-color: #e6e6e6;
    padding: 2em 0em;
}

.section-heading{
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 2.5em;
}

#goals .width-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.goal-card {
    display: flex;
    gap: 0.8em;
    font-size: 1.5em;
} 

.goal-card h3 {
    padding-bottom: 0.5em;
}

.goal-card p {
    text-align: justify;
}

.goal-card i {
    text-align: center;
    background-color: #e47b00;
    padding: 1em;
    border-radius: 50%;
}